:root {
    --cor-principal: #0F417C;
    --cor-secundaria: #3DA6FF;
    --branco: #fff;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    background-color: var(--cor-principal);
    -webkit-overflow-x: hidden;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p,
a,
li {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
}



.container {
    padding: 4rem 1rem;
    height: max-content;
}

.span-azul {
    color: var(--cor-secundaria);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
}

.bg-intro {
    background: url(/assets/img/bg-intro.webp);
    min-height: 100vh;
    color: var(--branco);
    display: flex;

}

.bg-section1 {
    background: url(/assets/img/bg-section1.webp);
    background-attachment: fixed;
}

.bg-section3 {
    background: url(/assets/img/fundo-section3.webp);
    position: relative;
    top: -140px;

}

.bg-intro,
.bg-section1,
.bg-section3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--branco);

}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    animation: loadIntro .5s ease-in-out both;
}

.intro-logo {
    display: flex;
    padding: 2rem 0;
}

.intro-logo img {
    margin-right: 2rem;
}

.intro-title p {
    font-size: 1.5rem;
}

.intro-text h2 {
    font-size: 3rem;

}

.intro-text p {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-style: italic;
}

.button a {
    transition: 300ms ease-in-out;
    display: block;
    text-decoration: none;
    color: var(--cor-principal);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--branco);
    width: max-content;
    padding: 1.5rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 0 100px var(--cor-secundaria);
}

.button a:hover {
    transition: all 300ms ease-in-out;
    background-color: var(--cor-principal);
    color: var(--branco);
    transform: translateY(-5px) scale(103%);
    box-shadow: 0 0 50px var(--cor-principal), 3px 3px 2px var(--branco);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services h2 {
    text-transform: uppercase;

    padding: 3rem 0 5rem;
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    padding: 2.5rem 5rem 2.5rem 1.6rem;
    border-radius: 1rem;
    color: var(--preto);
    text-transform: uppercase;
    margin: 2.5rem 0;
    box-shadow: 0 0 10px var(--preto);
    transition: 300ms;
    text-align: left;
}

.card:hover {
    transform: scale(102%);
}

.card img {
    margin-right: 2rem;
}

.call-to-ac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.call-to-ac p {
    text-align: center;
    padding: 1rem 0;
    width: 60%;
}

.call-to-ac .button a {
    /* box-shadow: 0 0 10px var(--cor-secundaria); */
    margin: 2rem 0 10rem 0;
}

.bg-white {
    position: relative;
    top: -70px;
    background-color: var(--branco);
    border-radius: 100px 0 100px 0;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25), inset 2px 0px 79px 20px rgba(0, 0, 0, 0.25);
    height: max-content;
    z-index: 2;
}

.contract,
.we {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.contract-grid,
.we-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding-bottom: 6rem;
    border-bottom: 2px solid var(--cor-principal);
}

.contract-content,
.we-content {
    margin-top: 4rem;
}

.contract-content h2,
.we-content h2 {
    color: var(--cor-principal);
    position: relative;
    margin: 3rem 0;

}

.contract-content h2::after,
.we-content h2::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--cor-principal);
    left: 0;
    bottom: -12px;

}

.contract-content p,
.we-content p {
    width: 80%;
    text-indent: 2rem;
}

.contract-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.contract-cards h2 {
    margin: 5rem 0 0;
    color: var(--cor-principal);
    position: relative;
}

.shadow-text {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(180deg, var(--cor-secundaria) -10%, rgba(0, 53, 105, 0) 115%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 2rem;
}

.contract-cards .card {
    background-color: var(--cor-principal);
    color: var(--branco);
    margin: 1.5rem 0;
    position: relative;
}

.contract-cards img {
    filter: drop-shadow(0 0 10px var(--preto));
}

.contract-cards .card::after,
.contract-cards .card::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 3rem;
    background-color: var(--cor-principal);
}

.contract-cards .card::after {
    left: 50px;
    bottom: -30px;
}

.contract-cards .card::before {
    right: 50px;
    bottom: -30px;
}

.contract-cards .card:nth-child(6)::after,
.contract-cards .card:nth-child(6)::before {
    display: none;
}

.we-work {
    padding: 12rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.we-work h2 {
    text-transform: uppercase;
}

.we-work .shadow-text {
    background: linear-gradient(180deg, #fffffff4 -28.24%, rgba(0, 53, 105, 0) 125%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 10rem;

}

.we-work .call-to-ac p {
    font-size: 3rem;
}

.work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    width: 100%;
}

.pic {
    background: linear-gradient(180deg, #0035699f 20%, var(--cor-secundaria) 150%);
    border-radius: 3rem;
    padding: 0 3rem;
    position: relative;
    box-shadow: -10px 10px 20px var(--cor-principal), -11px 11px 100px var(--cor-secundaria);
}

.pic img {
    border-radius: 3rem;
    position: relative;
    top: -35px;
    box-shadow: 0 0 2px var(--preto);
}

.work-card {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    color: var(--preto);
    text-transform: uppercase;
    padding: 2rem 5rem 2rem 1rem;
    background-color: var(--branco);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--preto);
    margin-left: 5rem;
    width: 40rem;
    position: relative;

}

.work-card::after {
    content: '';
    position: absolute;
    width: 5rem;
    height: 5px;
    background-color: var(--branco);
    top: 50%;
    left: -50px;
}

.work-card img {
    margin-right: 2rem;
}

#bg-white-last {
    top: -220px;
}

.we-grid {
    border-bottom: none;
}

.we-content h2 {
    text-transform: uppercase;
}

.rodape {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    color: var(--branco);
    border-top: 1px solid var(--branco);
    width: 90%;
}

[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);

}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translateY(-50px);
}

[data-anime="bottom"] {
    transform: translateY(50px);
}



[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes loadIntro {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




@media (max-width: 800px) {
    .bg-intro {
        background: url(/assets/img/bg-intro-mobile.webp);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }

    .bg-section1 {
        background: url(/assets/img/bg-section1-mobile.webp);
        background-size: cover;
        background-position: top;
    }

    .bg-section3 {
        background: url(/assets/img/bg-section3-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .intro {
        align-items: start;
    }

    .intro-logo h1 {
        font-size: 3.5rem;
    }

    .intro-text h2 {
        font-size: 2.5rem;
    }

    .intro-text p {
        font-size: 1.2rem;
    }

    .services h2 {
        font-size: 2.3rem;
    }

    .card {
        width: 90%;
        margin: 2rem auto;
    }

    .call-to-ac p {
        width: 90%;
    }

    .we-work .call-to-ac p {
        font-size: 2rem;
    }

    .contract-grid,
    .we-grid {
        grid-template-columns: 1fr;
    }


    .contract-content,
    .we-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contract-cards {
        align-items: center;
    }

    .contract-cards h2,
    .shadow-text,
    .we-work h2 {
        font-size: 2.2rem;
    }

    .work-container {
        flex-direction: column;

    }

    .work-card {
        margin-left: 0;
        margin-top: 3rem;
        justify-content: center;
    }

    .work-card::after,
    .work-card::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 3rem;
        background-color: var(--branco);
    }

    .work-card::after {
        left: 110px;
        top: -30px;
    }

    .work-card::before {
        right: 110px;
        top: -30px;
    }

    .work-container {
        margin-bottom: 10rem;
    }

    .rodape p {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .intro-text h2 {
        font-size: 2.1rem;
    }

    .card {
        padding: 2rem 1rem 2rem;
        width: 100%;
    }

    .card h3 {
        font-size: 1.8rem;
    }

    .call-to-ac p {
        width: 90%;
        line-height: 1.2;
    }

    .contract-content h2,
    .we-content h2 {
        font-size: 2.5rem;
        margin: 0 0 7rem 0;
    }

    .we-content h2 {
        width: 80%;
    }

    .bg-white {
        border-radius: 70px 0;
    }

    .contract-content img,
    .we-content img {
        width: 80%;
    }

    .shadow-text {
        background: linear-gradient(180deg, var(--cor-secundaria) -2%, rgba(0, 53, 105, 0) 150%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .work-content h2 {
        text-align: center;
    }

    .pic {
        padding: 0.5rem 1.8rem;
    }

    .pic img {
        top: -50px;
    }

    .work-card {
        width: 100%;
    }

    .rodape {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodape p {
        margin: 1rem 0;
    }

}

::-webkit-scrollbar {
    background-color: var(--branco);
    width: .8rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--cor-principal);
}